.footer-bg {
    background-color: hsl(240, 10%, 16%);
    height: 400px;
    width: 100%;
    border-radius: 6%/0 66px 0 0;
}

.container {
    display: flex;
    height: 300px;
}

.logo {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    justify-self: start;
    margin: 0px 20px;
    cursor: pointer;
    font-size: 2rem;
}