.hero-bg {
    height: 400px;
    width: 100vw;
    overflow: hidden;
    border-radius: 6%/0 0 0 66px;
    background: linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
}

.nav {
    z-index: 1;
    position: relative;
    background-color: hsl(353, 100%, 62%) 0%);
}

.hero {
    color: white;
    margin-top: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: hsl(353, 100%, 62%) 0%);
    
}

.img {
    margin-top: -1700px;
    margin-left: -500px;
}

.hero h1 {
    font-size: 50px;
}

.hero-btns {
    margin-top: 24px;
}
