.title-text {
    text-align: center;
    margin-top: 20px;
}

.intro-items {
    display: flex;
    justify-content: space-around;
}

.intro-text {
    height: 400px;
    width: 40%;
    padding: 20px 0px;
}

.intro-img {
    height: 400px;
    position: relative;
    overflow: hidden;
}