.title-text {
    text-align: center;
    margin-top: 20px;
}

.intro-items {
    display: block;
    max-width: 100%;
}

.intro-text {
    height: 400px;
    width: 500px;
    padding-top: 100px;
    margin-left: 100px;
}

.intro-text h2 {
    padding: 10px 0px;
}

.intro-text p {
    font-size: 15px;

}

.intro-img {
    height: 650px;
    position: relative;
    top: -400px;
    left: 700px;
}