.title-text {
    text-align: center;
    margin-top: 20px;
    margin-top: 80px;
    color: hsl(208, 49%, 24%)
}

.intro-items {
    display: block;
    max-width: 100%;
    font-family: 'Overpass', sans-serif;
}

.intro-text {
    height: 400px;
    width: 500px;
    padding-top: 100px;
    margin-left: 100px;
}

.intro-text h2 {
    padding: 10px 0px;
    color: hsl(208, 49%, 24%);
}

.intro-text p {
    font-size: 16px;
    font-weight: 300;
    color: hsl(207, 8%, 54%);

}

.intro-img {
    height: 785px;
    position: relative;
    top: -495px;
    left: 750px;
}

.h2-margin {
    margin-top: 50px;
}